/* QuoteBox.module.css */
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.quoteBox {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: background-color 2s;
}
.loading {
  font-size: 24px;
  opacity: 1;
  animation: fade 1.5s infinite alternate;
}
.quoteText {
  font-size: 24px;
  margin-bottom: 10px;
}

.quoteAuthor {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  border: 2px double #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5; /* または 'normal' など、必要に応じて調整 */
  height: 50px; /* これは例です、必要に応じて調整 */
  box-sizing: border-box;
}

